[Desktop Entry]
Comment=
Exec=/sbin/yast2 MetaPackageUrlHandler
GenericName=
Icon=
InitialPreference=2
MimeType=text/ymu
Name=yast2
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
