[Desktop Entry]
X-SuSE-YaST-RootOnly=false
X-SuSE-translate=false
Exec=/sbin/yast2 MetaPackageHandler %U
InitialPreference=2
MimeType=text/x-suse-ymp
Name=yast2
StartupNotify=false
Terminal=false
Type=Application
X-KDE-StartupNotify=false
