[Desktop Entry]
Name=YaST 1-Click Install
GenericName=1-Click Install
Comment=Install packages without manually adding repositories
Exec=/usr/sbin/OneClickInstallUI %f
Icon=yast-oneclick
Terminal=false
MultipleArgs=false
Type=Application
MimeType=text/x-suse-ymp;text/x-suse-ymu;
Categories=Settings;System;SystemSetup;
NoDisplay=true
X-KDE-StartupNotify=false
